/*global*/
body {
  margin: 0;
  text-align: center;
  background-color: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Bitter", Serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrappler {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

/*navbar*/
.navigation {
  height: 0;
}

.navigation .wrappler {
  height: 129px;
  position: relative;
  z-index: 3;
}

.navigation .logo {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .logo h1 {
  margin: 20px;
  color: #fed136;
  font-family: "Roboto", Sans-Serif;
  font-style: italic;
  font-size: 26px;
}

.navigation .navbar {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.navigation .navbar ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  padding: 20px;
}

.navigation .navbar ul li {
  margin: 10px;
  list-style: none;
}

.navigation .navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Bitter", Serif;
  text-transform: uppercase;
}

/*splash*/
.splash {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 750px;
  position: relative;
}

.splash .container {
  margin: none;
}

.splash .container::after {
  position: absolute;
  left: 0;
  content: '';
  height: 750px;
  width: 100%;
  background-color: black;
  opacity: .5;
}

.splash .container .splash-content {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.splash .container .splash-content p {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.splash .container .splash-content h1 {
  margin: 0;
  color: #ffffff;
  font-family: "Roboto", Sans-Serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
}

.splash .container .splash-content .btn {
  margin-top: 26px;
  display: inline-block;
  width: 240px;
  font-size: 18px;
  font-family: "Roboto", Sans-Serif;
  background-color: #fed136;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

/*services*/
.services .title {
  margin-top: 80px;
}

.services .title h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #222222;
  font-family: "Roboto", Sans-Serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.services .title p {
  margin-top: 0;
  color: #777777;
  font-size: 18px;
  font-style: italic;
}

.services .content {
  margin-top: 80px;
}

.services .content .box {
  width: 274px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.services .content .box .icon {
  width: 67px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  position: relative;
}

.services .content .box .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*portfolio*/
.portfolio {
  background-color: #f7f7f7;
  padding: 80px 0;
  margin-top: 80px;
}

.portfolio .title h1 {
  margin: 0;
  color: #222222;
  font-family: "Roboto", Sans-Serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.portfolio .title p {
  margin-top: 0;
  color: #777777;
  font-size: 16px;
  font-style: italic;
}

.portfolio .content {
  margin-top: 80px;
}

.portfolio .content .box {
  margin: 17px;
  background-color: #ffffff;
}

.portfolio .content .box h3 {
  margin-bottom: 0;
  color: #333333;
  font-family: "Roboto", Sans-Serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.portfolio .content .box p {
  margin-top: 0;
  color: #737373;
  font-size: 14px;
  font-style: italic;
}

/*footer*/
footer .wrappler {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 121px;
  text-align: center;
}

footer .wrappler h1 {
  font-size: 0;
}

footer .wrappler p {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .wrappler ul {
  transform: translateX(-50%);
  display: inline-block;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .wrappler ul li {
  background-color: #222222;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
}

footer .wrappler ul li i {
  font-size: 25px;
  color: #ffffff;
  transform: translateY(30%);
}

/*media*/
@media (max-width: 990px) {
  .wrappler {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .navigation {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
  }
  .navigation .logo {
    height: 50px;
  }
  .navigation .navbar {
    height: 50px;
    -ms-flex-align: center;
        align-items: center;
  }
  .navigation .navbar ul {
    -ms-flex-align: center;
        align-items: center;
  }
  .services .box {
    margin: 20px;
  }
  footer .wrappler {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  footer .wrappler ul {
    transform: none;
  }
}

@media (max-width: 760px) {
  .services .wrappler {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .portfolio .box {
    margin: 20px 0;
  }
  footer .wrappler {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  footer .wrappler ul {
    transform: none;
  }
}

@media (max-width: 500px) {
  .navigation .navbar {
    transform: scale(0.7);
  }
  .splash .splash-content p, h1, a {
    transform: scale(0.8);
  }
}
/*# sourceMappingURL=style.css.map */